# Manipulation de Spark Scala

In [1]:
%spark
// variable immuable
val x=1

In [2]:
%spark
x=2

In [3]:
%spark
println(x)

In [4]:
%spark
// variable muable
var y=2

In [5]:
%spark
println(y)

In [6]:
%spark
y=3

In [7]:
%spark
println(y)

L'objectif est de prendre en main les fonctions basiques de Spark Scala.

### Read dataset (csv format) from HDFS

Here we use the dataset from https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data

The target variable will be class (there are 3 classes : Iris Setosa, Iris Versicolour, Iris Virginica) and the variables descriptives are : 
- sepal length
- sepal width
- petal length
- petal width

In [9]:
%spark
import org.apache.spark.sql._            
val spark = SparkSession.builder().getOrCreate()

val df = spark.read.format("com.databricks.spark.csv")
              .option("header", "true")
              .option("inferSchema", "true") 
              .load("/opt/hupi/DATA/UPPA_2022/Data/clustering/iris.csv")

### Show the dataframe
Use the function `show`

In [11]:
%spark

###  Print the schema of the dataframe
Use the fonction `printSchema`

In [13]:
%spark

### Select some columns
Use the function `select`

In [15]:
%spark

### Rename some columns
Use the fonction `withColumnRenamed("actual_name", "new_name")`
For example rename the column "class" to "irisClass".

In [17]:
%spark

### Get the distinct values of a columns
Use the function `select`and the function `distinct`

In [19]:
%spark

### Insert a new column
Use the fonction `withColumn`
For example add a new column with the categorisation of the Iris classes into numeric variable.
The column will be `IrisNum` and we want the following classification :
- Iris-virginica => 0
- Iris-setosa => 1
- Iris-versicolor => 2

You will need to use operators `when` and `otherwise`.

In [21]:
%spark

### Count the number of lines of a dataframe
Use the function `count`

In [23]:
%spark

### Change the type of column
The transformations on some columns are made for example doing a `withColumn`.
And inside the `withColumn` you can make some transformation using some created functions or existing functions.

**For example**: Use the function `cast` in order to change the type of the column "sepalLength" to string type.

In [25]:
%spark

### Define a function

In [27]:
%spark
// Define a simple function to print a greeting
def sayHello(name: String): Unit = {
  println(s"Hello, $name!")
}

// Call the function
sayHello("John")

// Output
// Hello, John!

# Exercice d'application

Le jeu de données Titanic fait référence au naufrage du fameux paquebot le Titanic en 1912, où il y eut beaucoup de noyés à cause du nombre insuffisant de canots de sauvetage.
Il contient pour chaque passager les informations suivantes :

- PassengerId : identifiant d’un passager.
- Survived : Survie (0 = Non; 1 = Oui)
- Pclass : Classe (1, 2 ou 3) indiquant la classe de la cabine, qui correspondent respectivement à la première, seconde et troisième classe.
- Nom
- Sexe
- Age : variable indiquant l’âge du passager
- SibSp : Nombre de frères et soeurs / épouses à bord
- Parch : Nombre de parents / enfants à bord
- Fare : Tarif pour le passager
- Embarked : Port d'embarquement (Cherbourg, Queenstown ou Southampton)

Après retrait des lignes avec valeurs manquantes, le tableau analysé contient 1045 personnes.

1. Show the dataframe
2. Print the schema of the dataframe
3. Select the columns `Survived` and `Name`
4. Rename the column `PassengerId` to `Id`
5. Get the distinct values of the column `Embarked`
6. Count how many NaN values in the column `Embarked`
7. Filter the rows with NaN values in the column `Embarked`
8. Drop all rows with NaN values

In [29]:
%spark
import org.apache.spark.sql._            
val spark = SparkSession.builder().getOrCreate()

val df = spark.read.format("com.databricks.spark.csv")
                .option("header", "true")
                .option("inferSchema", "true") 
                .load("hdfs://ecoles-projets.node1.pro.hupi.loc:8020/user/ecoles-projets/Data_spark/titanic.csv")

### Show the dataframe

In [31]:
%spark
df.show()

###  Print the schema of the dataframe

In [33]:
%spark
df.printSchema()

### Select distinct values of a column
Display the different class contained in `Embarked` column (select and distinct).

In [35]:
%spark
data.select("Embarked").distinct().show()

### Filter the DataFrame based on a condition
Filter the observtions with a Embarked column with null values.

In [37]:
%spark
df.filter(col("Embarked").isNull).show()

### Filter the DataFrame based on a condition
Filter the observtions with a Embarked column with not null values.

In [39]:
%spark
df.filter(col("Embarked").isNotNull).show()

### Filter the DataFrame based on a condition
Filter the observtions with a Fare greater or equal than 10$

In [41]:
%spark
df.filter(col("Fare") >= 10).show(5)

### Rename some columns
Use the fonction `withColumnRenamed("actual_name", "new_name")`
Rename the column "PassengerId" to "Id".

In [43]:
%spark
df.withColumnRenamed("PassengerId", "Id").show()

### Count the number of observations in the dataframe

In [45]:
%spark
df.count()

### Drop rows with na and count the number of remaining observations

In [47]:
%spark
df.na.drop().count()

In [48]:
%spark

In [49]:
%spark

In [50]:
%spark